#dataset folders
data/
dataset/
mvtec/
MVTec-AD/
*/data/
*/dataset/

#model checkpoints
*.pth
*.pt

#numpy result files
*.npy
*.npz

#training results/plots
results/
*/results/

#Python cache
__pycache__/
*.pyc
*.pyo

#environment/virtualenv files
.env
.venv
env/
venv/

#Colab/Notebook checkpoints
.ipynb_checkpoints/

#temporary files
*.log
.DS_Store
